@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 2px;

  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #2c1b72de;
  border-radius: 10px;
  width: 5px !important;
}

body {
  color: #ffffff;
  background: #0e0c16;
  font-family: var(--font-poppins);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-bottom-color: #47752d;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.orbital {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.125;
  object-fit: cover;
  animation: 50s linear infinite alternate rotateOrbital;
  overflow: hidden;
}

.bg {
  background-size: auto 100%;
  animation: 8s ease-in-out infinite alternate slideBg;
}

.bot {
  animation: 3s ease-in-out infinite alternate botAnimate;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  /* Agar kursor custom tidak menghalangi elemen lain */
  width: 20px;
  /* Sesuaikan ukuran kursor */
  height: 20px;
  /* Sesuaikan ukuran kursor */
  background-color: rgba(212, 206, 206, 0.733);
  /* Sesuaikan warna kursor */
  border-radius: 50%;
  /* Buat kursor berbentuk bulat */
  transform: translate(-50%, -50%);
  /* Pusat kursor */
  transition: transform .3s ease-in-out;
  /* Tambahkan transisi halus */


  @media (max-width: 768px) {
    display: none;
  }

}

.custom {
  width: 30px;
  height: 30px;

  mix-blend-mode: multiply;
  transform: scale(5);
  background: linear-gradient(to right, #663399, #ff6666);
}

.custom_enter {
  background: linear-gradient(to right, #663399, #ff6666);
  color: transparent;
  background-clip: text;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  transform: scale(20);
  transition: all 1s ease-in-out;

}



@keyframes rotateOrbital {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

@keyframes botAnimate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1.1) rotate(-5deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}